    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'My Clippings', '/', :class => 'navbar-brand' %>
        </div>
        <div id="navbar-links" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
            <%= link_to t('help'), help_path %>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Zhuoqun <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <% for @item in user_menu_items %>
                <% if @item[:id] === 'divider' %>
                  <li class="divider"></li>
                <% else %>
                  <li>
                  <%= link_to @item[:name], @item[:url]%>
                  </li>
                <% end %>
              <% end %>
            </ul>
            </li>
          </ul>

          <form class="navbar-form navbar-right hidden-xs">
            <button type="button" class="btn btn-success">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <%= t('import') %>
            </button>
          </form>

        </div><!--/.navbar-collapse -->
      </div>
    </nav>

