// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$icon-font-path: "bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

@import "nav";

body {
  padding: 20px 0;
}

.main {
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  border-radius: 4px;
  border: 4px dashed #AAA;
  color: #000;
  padding: 30px 0;

  .lead {
    font-size: 28px;
    margin: 0 auto 20px;
    font-weight: 200;
    line-height: 1.4;

    em {
      font-weight: 400;
    }
  }

  .click-upload {
    font-size: 16px;
    font-weight: 300;
  }

  .where {
    margin: 100px 0 0 10px;
    font-size: 12px;
    text-align: left;

    a {
      color: #000;
    }
  }
}

.features {
  margin: 20px 0;
}

footer {
  padding: 15px 0;
  border-top: 1px solid #EEE;
}

@media (min-width: $screen-sm-min) {
  .container {
    max-width: 960px;
  }

  .navbar-right {
    margin-right: 0;
  }

  .main {
    padding-top: 80px;

    .lead {
      font-size: 40px;
    }
  }

  .features {
    margin: 40px 0;
  }
}

/* Sign in*/
.signin {
  margin: 40px 0 80px;

  .checkbox {
    display: inline-block;
  }

  .forgot {
    float: right;
    padding-top: 7px;
    display: inline-block;
  }

  .oauth {
    margin: 60px 0 40px;

    p {
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 10px;
    }

    a {
      display: inline-block;
      margin-right: 2px;
      width: 32px;
      height: 34px;
      background-position: left bottom;
      background-size: 32px 32px;
      background-repeat: no-repeat;
      text-indent: -9999px;

      &:hover {
        background-position: left top;
      }
    }

    .evernote {
      background-image: image-url('evernote.png');
    }

    .amazon {
      background-image: image-url('amazon.png');
    }

    .facebook {
      background-image: image-url('facebook.png');
    }

    .twitter {
      background-image: image-url('twitter.png');
    }

    .google {
      background-image: image-url('google.png');
    }

    .douban {
      background-image: image-url('douban.png');
    }

    .weibo {
      background-image: image-url('weibo.png');
    }

  }

  .no-account {
    p {
      font-size: 18px;
    }
  }
}

/* Sign up */
.signup {
  margin: 40px 0 80px;

  .signin {
    font-size: 18px;
    margin: 40px 0;
  }
}

/* About Page and Contact Page*/

.about, .contact {
  min-height: 400px;
  margin-top: 40px;

  p {
    font-size: 16px;
  }
}
