// Style for navbar

.navbar {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEE;

  &.page-index {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  padding: 15px 0;
}

.nav>li.active>a,
.nav>li>a:hover,
.nav>li>a:focus {
  background-color: #EEE;
  color: #333;
  border-radius: 4px;
}

.nav>li>a {
  margin-right: 2px;
  color: #333;
}

.navbar-header .navbar-toggle {
  &:hover, &:focus {
    border-color: #AAA;
  }

  .icon-bar {
    background-color: #666;
  }
}
