$screen-sm-min: 768px;

html,
body {
  background: #FAF6EC;
}

.navbar {
  background: #0D4373;
  margin-bottom: 0;
}

.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand,
.navbar-nav > li > a {
  color: #EEE;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}

.nav>li>a:hover,
.nav>li>a:focus {
  background: #10538F;
}

.navbar-header .navbar-toggle {
  &:hover, &:focus {
    background-color: #10538F;
    border-color: #10538F;
  }

  .icon-bar {
    background-color: #EEE;
  }
}

.main {
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  background-color: #EFEAE1;
  padding: 30px 0;

  .lead {
    font-size: 20px;
    margin: 0 auto 20px;
    font-weight: 300;
    line-height: 1.4;

    em {
      font-weight: 400;
    }
  }

  .click-upload,{
    font-size: 16px;
    font-weight: 300;
  }

  .where {
    margin-top: 60px;
    font-size: 12px;
    text-align: left;
  }
}

.login-form {
  padding: 20px 0;

  .forgot {
    font-size: 12px;
  }
}

.signup {
  font-size: 20px;
}

footer {
  margin-top: 100px;
  padding: 15px;
  border-top: 1px solid #EEE;
}

@media (min-width: $screen-sm-min) {
  .main {
    padding-top: 80px;

    .lead {
      font-size: 40px;
    }
  }

  .login-form {
    padding: 40px 0;

    .form-el {
      margin-right: 10px;
    }
  }

  .signup {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
  }
}
