$screen-sm-min: 768px;

.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  padding: 15px;
}

.nav>li.active>a,
.nav>li>a:hover,
.nav>li>a:focus {
  background-color: #EEE;
  color: #333;
}

.nav>li>a {
  margin-right: 2px;
  color: #333;
}

.navbar-header .navbar-toggle {
  &:hover, &:focus {
    border-color: #AAA;
  }

  .icon-bar {
    background-color: #666;
  }
}

.manager {
  padding-top: 50px;

  .navbar {
    border-bottom: 2px solid #BE784B;
    background-image: none;
    background-color: #FFF;
  }

  .sidebar {
    display: none;

    .nav>li.active>a {
      background-color: #F5F5F5;
      color: #C43704;
      border-left: 6px solid #C43704;

      &:hover, &:focus {
        border-left: 6px solid #C43704;
      }
    }

    .nav>li>a:hover,
    .nav>li>a:focus {
      background-color: #DDD;
      color: #333;
      border-left: 6px solid #DDD;
    }

    .nav>li>a {
      color: #333;
      border-left: 6px solid #F5F5F5;
    }
  }

  .nav-sidebar {
    margin-left: -21px;
    margin-bottom: 20px;
    margin-right: -21px;

    .sub {
      background-color: #FFF;
      padding: 10px 0;

      li>a {
        padding-left: 30px;

        &:hover, &:focus {
          background-color: #EEE;
          border-left: 6px solid #EEE;
        }
      }

      li.active>a {
        background-color: #FFF;
      }
    }

    .filter {
      width: 90%;
      margin: 0 auto 10px;
    }
  }

  .main {

    h1 {
      font-size: 18px;
      padding-bottom: 20px;
      border-bottom: 1px solid #EEE;
    }

    .menubar {
      margin: 10px 0;

      .form-control {
        display: inline-block;
        width: auto;
        margin-right: 6px;
      }

      #all_check {
        margin: 0 10px;
      }

      label {
        font-weight: 400;
      }

      .actions {
        width: 100px;
      }

      .checkbox, .dropdown, .viewstyle {
        display: inline-block;
        margin:0 10px 0 0;
        vertical-align: middle;
      }

      #export {
        color: #333;
        display: block;
        cursor: pointer;
        margin-right: 40px;

        &:hover, &:active {
          text-decoration: none;
          color: #999;
        }
      }

      .viewstyle>a {
        color: #333;

        &:hover, &:active, &.active {
          color: #C43704;
          text-decoration: none;
        }
      }
    }

    .clippings {

      .check {
        margin: 0 10px;
      }

      .title {
        background-color: #EEE;
        padding: 10px 0;
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #DDD;
        cursor: pointer;
      }

      h2 {
        font-size: 14px;
        margin-top: 4px;
        margin-bottom: 0;
        display: inline-block;

        em {
          margin-left: 20px;
          color: #777;
        }
      }

      .misc {
        margin: 4px 0 0 34px;
        color: #777;
        font-weight: 700;

        .item {
          margin-right: 20px;
          font-size: 12px;
        }

        em {
          color: #333;
        }

        .view-all {
          margin-right: 10px;

          a {
            display: block;
            font-weight: 400;
            font-size: 12px;
          }
        }
      }

      .content {
        margin: 20px 0 0 34px;

        .tags {
          font-size: 12px;
        }

        .operations {
          margin: 5px 0;
        }
      }
    }

  }

}

footer {
  padding: 15px;
  border-top: 1px solid #EEE;
}

@media (min-width: $screen-sm-min) {
  .manager {
    .sidebar {
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #F5F5F5;
      border-right: 1px solid #EEE;
    }

    .main {
      min-width: 908px;

      .view-all {
        float: right;
      }
    }
  }
}
