      <div class="about">
        <div class="row">
          <div class="col-sm-12">
            <p>As you can guess from the name, My Clippings is a tool that can help you organize your My Clippings.txt on your Kindle. It's designed and handmade by <a href="http://www.zhuoqun.net">zhuoqun</a> in Trier, Germany.</p>
          </div>
        </div>
      </div>
