      <div class="main" id="content">
        <p class="lead">
          <script>
            var lead = Modernizr.draganddrop ? 'Drag and drop <em>My Clippings.txt</em> here<br>to make it clean and organized!'
                        : '<a href="">Upload</a> your <em>My Clippings.txt</em><br>to make it clean and organized!';
            document.write(lead);
          </script>
        <p class="where"><em>* <a href="#" data-toggle="modal" data-target="#whereModal">Coundn't find My Clippings.txt?</a></em></p>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="whereModal" tabindex="-1" role="dialog" aria-labelledby="whereModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="whereModalLabel"> Where is My Clippings.txt</h4>
            </div>
            <div class="modal-body">
              <p>1. Connect your Kindle to your computer using the USB cable.</p>
              <p>2. Use your computer's file browser to view the Documents folder on Kindle.</p>
              <p>3. If you have made Highlights or Notes, you will find <em>My Clippings.txt</em> there! ^_^</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="features">
        <div class="row">
          <div class="col-sm-4">
            <p>Organize your Highlights and Notes.</p>
          </div>
          <div class="col-sm-4">
            <p>Export as TXT, PDF or to Evernote</p>
          </div>
          <div class="col-sm-4">
            <p>Add tags, edit your notes.</p>
          </div>
        </div>
      </div>
