    <div class="container">

      <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">My Clippings</a>
        </div>
        <div id="navbar-links" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
            <a href="#">Home</a>
            </li>
            <li>
            <a href="#">About</a>
            </li>
            <li>
            <a href="#">Contact</a>
            </li>
            <li>
            <a href="#"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Sign In</a>
            </li>
          </ul>

        </div><!--/.navbar-collapse -->
      </nav>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="main" id="content">
        <p class="lead">Drag and drop <em>My Clippings.txt</em> here<br>to make it clean and organized!</p>
        <p class="click-upload">or <a href="">Upload</a></p>
        <p class="where"><em>* <a href="">Coundn't find My Clippings.txt?</a></em></p>
      </div>

      <div class="features">
        <div class="row">
          <div class="col-sm-4">
            <p>Organize your Highlights and Notes.</p>
          </div>
          <div class="col-sm-4">
            <p>Export as TXT, PDF or to Evernote</p>
          </div>
          <div class="col-sm-4">
            <p>Add tags, edit your notes.</p>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; My Clippings 2015</p>
      </footer>

    </div>

